@import "tailwindcss";

:root {
	color-scheme: light dark;

	&[data-theme="light"] {
		color-scheme: light;
	}

	&[data-theme="dark"] {
		color-scheme: dark;
	}
}

@theme {
	/* fonts */
	--font-sans: "DM Sans Variable", sans-serif;
	--font-bricolage-grotesque: "Bricolage Grotesque Variable", sans-serif;

	/* font-size */
	--text-2xs: 0.728125rem;
	--text-3xs: 0.6875rem;

	/* color */
	--color-bg-page: light-dark(oklch(0.8 0.08 270), oklch(0.14 0.08 270));
	--color-bg-card: light-dark(oklch(0.86 0.05 285), oklch(0.32 0.04 285));
	--color-bg-selected: light-dark(oklch(0.93 0.04 285), oklch(0.38 0.04 285));
	--color-bg-selected-hover: light-dark(
		oklch(0.95 0.04 285),
		oklch(0.42 0.04 285)
	);

	--color-text: light-dark(oklch(0.1 0 none), oklch(0.9 0 none));
	--color-text-inverse: light-dark(oklch(0.9 0 none), oklch(0.1 0 none));
	--color-text-muted: light-dark(oklch(0.3 0 none), oklch(0.7 0 none));

	--color-border: light-dark(oklch(0.62 0.03 270), oklch(0.47 0.03 270));
	--color-border-muted: light-dark(oklch(0.72 0.03 270), oklch(0.38 0.03 270));

	--color-bg-primary: oklch(0.51 0.2 271);
	--color-bg-primary-hover: oklch(0.45 0.16 271);
	--color-text-primary: light-dark(oklch(0.2 0.12 271), oklch(0.85 0.07 271));

	--color-bg-secondary: var(--color-bg-card);
	--color-bg-secondary-hover: light-dark(
		oklch(0.72 0.04 285),
		oklch(0.28 0.04 285)
	);

	--color-bg-info: light-dark(oklch(0.4 0.07 260), oklch(0.8 0.07 260));

	--color-text-error: light-dark(var(--color-red-900), var(--color-red-200));

	/* spacing */
	--spacing-fluid-400: clamp(1rem, 0.8555rem + 0.6163vw, 1.25rem);
	--spacing-fluid-450: clamp(1rem, 0.711rem + 1.2326vw, 1.5rem);
	--spacing-fluid-500: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
	--spacing-fluid-550: clamp(1.25rem, 0.8166rem + 1.8489vw, 2rem);
	--spacing-fluid-925: clamp(2.3125rem, 1.7346rem + 2.4653vw, 3.3125rem);
	--spacing-fluid-1600: clamp(4rem, -0.4rem + 22vw, 6.2rem);

	/* z-index */
	--z-card: 10;
	--z-nav: 100;
	--z-dropdown: 200;
	--z-toast: 500;

	/* drop shadow */
	--weather-icon-drop-shadow: 0 0 20px
		light-dark(oklch(0 0 none / 0.6), oklch(1 0 none / 0.9));
}

@layer base {
	/* 	RESET */
	html {
		/* Reserve scrollbar area */
		scrollbar-gutter: stable;
		/* Enable smooth scrolling for anchor links */
		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
		/* Enable keywords animations */
		interpolate-size: allow-keywords;
	}

	body {
		/* Improve text rendering */
		-webkit-font-smoothing: antialiased;
		/* hide horizontal overflow */
		overflow-x: hidden;
		/* set default font */
		font-family: var(--font-sans);
		/* set-default line height */
		line-height: 1.5;

		@supports (overflow-x: clip) {
			overflow-x: clip;
		}
	}

	/* remove vertical white space for some element */
	@supports (text-box: trim-both cap text) {
		h1,
		h2,
		h3,
		label,
		li,
		button,
		a {
			text-box: trim-both cap text;
		}
	}

	/* Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		inline-size: 100%;
	}

	/* improve focus styles */
	:focus-visible {
		outline-offset: 3px;
		outline-style: solid;
		outline-width: 3px;
		outline-color: var(--color-text-primary);
	}

	/* TYPOGRAPHY */
	h1 {
		@apply font-semibold text-[3.3rem]/16;
	}

	h2 {
		@apply font-medium text-xl;
	}

	p {
		@apply text-lg;
	}
}

@layer components {
	.base-arrow {
		display: block;
		position: relative;
		inline-size: 12px;
		block-size: 6px;
		overflow: clip;

		&[data-side="top"] {
			bottom: -6px;
			rotate: 180deg;
		}

		&[data-side="bottom"] {
			top: -6px;
			rotate: 0deg;
		}

		&[data-side="left"] {
			right: -9px;
			rotate: 90deg;
		}

		&[data-side="right"] {
			left: -9px;
			rotate: -90deg;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			inset-inline-start: 50%;
			width: calc(6px * sqrt(2));
			height: calc(6px * sqrt(2));
			background-color: var(--color-bg-info);
			transform: translate(-50%, 50%) rotate(45deg);
		}
	}

	.loader {
		--color-1: oklch(1 0 none);
		--color-2: oklch(1 0 none / 0);
		--size: 0.667px;

		color: var(--color-1);
		display: inline-block;
		position: relative;
		font-size: calc(24 * var(--size));

		&::before {
			content: "Search locations";
		}

		&::after {
			content: "";
			inline-size: calc(5 * var(--size));
			block-size: calc(5 * var(--size));
			background: currentColor;
			position: absolute;
			inset-block-end: calc(10 * var(--size));
			inset-inline-end: calc(-10 * var(--size));
			animation: animloader 1s linear infinite;
		}
	}

	@keyframes animloader {
		0% {
			box-shadow:
				calc(10 * var(--size)) 0 var(--color-2),
				calc(20 * var(--size)) 0 var(--color-2);
		}
		50% {
			box-shadow:
				calc(10 * var(--size)) 0 var(--color-1),
				calc(20 * var(--size)) 0 var(--color-2);
		}
		100% {
			box-shadow:
				calc(10 * var(--size)) 0 var(--color-1),
				calc(20 * var(--size)) 0 var(--color-1);
		}
	}
}

@utility hover-underline {
	background:
		linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0) 3px
		no-repeat;
	transition:
		0.3s,
		background-position 0s 0.3s;

	&:hover {
		--d: 100%;
		--p: 100%;
	}
}

@utility squircle {
	corner-shape: squircle;
}

@utility trim-capital {
	text-box: trim-both cap alphabetic;
}
@utility trim-text {
	text-box: trim-both cap text;
}

@utility z-card {
	z-index: var(--z-card);
}

@utility z-dropdown {
	z-index: var(--z-dropdown);
}

@utility wave {
	animation: wave 2s linear infinite;
}

@keyframes wave {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

@utility hide-default-clear {
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		appearance: none;
	}
}

/* change weather icon color to white for current weather */
@utility invert-weather-icon-color {
	filter: invert(100%);
}

/* change weather icon color to white on dark theme for daily and hourly weather icon */
@utility invert-weather-icon-color-on-dark-mode {
	[data-theme="dark"] & {
		filter: invert(100%);
	}

	[data-theme="system"] & {
		@media (prefers-color-scheme: dark) {
			filter: invert(100%);
		}
	}
}

@utility weather-icon-drop-shadow {
	[data-theme="light"] & {
		filter: drop-shadow(var(--weather-icon-drop-shadow));
	}

	[data-theme="system"] & {
		@media (prefers-color-scheme: light) {
			filter: drop-shadow(var(--weather-icon-drop-shadow));
		}
	}
}
